@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #000;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

.navbar {
  max-width: 100%;
  padding: 2.5em;
  display: flex;
  align-items: center;
  justify-content: left;
  user-select: none;
  gap: 3em;
}

.navbar--item {
  transition: all 0.15s;
  color: rgba(255, 255, 255, 0.36);
  font-size: 18px;
  font-weight: 500;
  line-height: 102.523%;
  letter-spacing: 0.75px;
  text-underline-offset: 3px;
}

.navbar--item:hover {
  color: rgba(255, 255, 255, 0.507);
}

.blob {
  position: absolute;
  animation: rotate 7s alternate infinite ease;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  filter: blur(85px);
  z-index: -1
}

.hero {
  height: 75vh;
  display: flex;
}

.hero--name {
  display: flex;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.hero--name img {
  -webkit-user-drag: none;
  user-select: none;
}

@keyframes rotate {
  from {
    /* transform: rotate(0deg); */
    scale: 1 1.5;
    background-position: 0% 50%;
  }
  to {
    /* transform: rotate(360deg); */
    background-position: 50% 100%;
    scale: 1.5 1;
  }
}